

<div>İndex Sayfası</div>
<form>
    <a class="btn btn-primary" asp-action="Create">Create sayfasına giden buton</a>
    <a class="btn btn-primary" asp-action="Update">Update sayfasına giden buton</a>
    <a class="btn btn-primary" asp-action="Seller">Seller sayfasına giden buton</a>
</form>